
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Health Information System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{ base_url }}assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ base_url }}assets/css/docs.css" rel="stylesheet">
    <link href="{{ base_url }}assets/css/datepicker.css" rel="stylesheet">
    <style>
        body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
    </style>
    <link href="{{ base_url }}assets/css/bootstrap-responsive.css" rel="stylesheet">

    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>

    <script src="{{ base_url }}assets/js/jquery.js"></script>
    <script src="{{ base_url }}assets/js/bootstrap.min.js"></script>
    <script src="{{ base_url }}assets/js/underscore.min.js"></script>
    <script src="{{ base_url }}assets/js/taffy.js"></script>
    <script src="{{ base_url }}assets/js/bootstrap-datepicker.js"></script>
    <script src="{{ base_url }}assets/js/bootstrap-datepicker.th.js"></script>
    <script src="{{ base_url }}assets/js/jquery.blockUI.js"></script>
    <script src="{{ base_url }}assets/js/amplify.min.js"></script>
    <script src="{{ base_url }}assets/js/miso.ds.deps.min.js"></script>
    <script src="{{ base_url }}assets/js/jquery.cookie.js"></script>
    <script src="{{ base_url }}assets/apps/js/apps.js"></script>

    <script type="text/javascript">
        var base_url = '{{ base_url }}';
        var site_url = '{{ site_url }}';
        var csrf_token = '{{ csrf_token }}';
    </script>
</head>

<body>

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#">EHIS <img id="imgLoading" style="display: none;" src="{{ base_url }}assets/apps/img/ajax-loader-fb.gif" alt="Loading..."></a>

            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li>
                        <a href="{{ site_url }}">
                            <i class="icon-home"></i>
                            หน้าหลัก
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-th-list"></i>
                            การให้บริการ
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{{ site_url }}/services">
                                    <i class="icon-check"></i>
                                    รายชื่อผู้มารับบริการ
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-briefcase"></i>
                            ข้อมูลพื้นฐาน
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{{ site_url }}/person">
                                    <i class="icon-folder-close"></i>
                                    ข้อมูลประชากรในเขตรับผิดชอบ
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="btn-group pull-right">
                    <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-user"></i>
                        {{ fullname }}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="nav-header">USER PROFILES</li>
                        <li>
                            <a href="#"><i class="icon-edit"></i> เปลี่ยนรหัสผ่าน (Change password)</a>
                        </li>
                        <li>
                            <a href="#"> <i class="icon-info-sign"></i> แก้ไขข้อมูลส่วนตัว</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="{{ site_url }}/users/logout"><i class="icon-off"></i> ออกจากระบบ (Logout)</a>
                        </li>
                    </ul>
                </div>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>

<div class="container">
    {% block content %}

    {% endblock %}
</div> <!-- /container -->


</body>
</html>