<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>HIS : Please login...</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{ base_url }}assets/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        body {
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #f5f5f5;
        }

        .form-signin {
            max-width: 400px;
            padding: 19px 29px 29px;
            margin: 0 auto 20px;
            background-color: #fff;
            border: 1px solid #e5e5e5;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
        }
        .form-signin .form-signin-heading,
        .form-signin .checkbox {
            margin-bottom: 10px;
        }
        .form-signin input[type="text"],
        .form-signin input[type="password"] {
            font-size: 16px;
            height: auto;
            margin-bottom: 15px;
            padding: 7px 9px;
        }

    </style>
    <link href="{{ base_url }}assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="{{ base_url }}assets/css/datepicker.css" rel="stylesheet">
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>

    <script type="text/javascript">
        var RecaptchaOptions = {
            theme : 'clean'
        };

        var base_url = '{{ base_url }}';
        var site_url = '{{ site_url }}';
        var csrf_token = '{{ csrf_token }}';
    </script>

    <script src="{{ base_url }}assets/js/jquery.js"></script>
    <script src="{{ base_url }}assets/js/bootstrap.min.js"></script>
    <script src="{{ base_url }}assets/js/underscore.min.js"></script>
    <script src="{{ base_url }}assets/js/jquery.blockUI.js"></script>
    <script src="{{ base_url }}assets/js/jquery.form.js"></script>
    <script src="{{ base_url }}assets/js/miso.ds.deps.min.js"></script>
    <script src="{{ base_url }}assets/js/bootstrap-datepicker.js"></script>
    <script src="{{ base_url }}assets/js/bootstrap-datepicker.th.js"></script>
    <script src="{{ base_url }}assets/apps/js/apps.js"></script>
    <script src="{{ base_url }}assets/apps/js/apps.users.js"></script>

</head>

<body>

<div class="container">
    {% block content %}

    {% endblock %}
</div>
</body>
</html>